.resizable-split-view__container {
  display: flex;
  position: relative;
}

.resizable-split-view__pane1,
.resizable-split-view__pane2 {
  will-change: transform;
}

.resizable-split-view__handler {
  position: absolute;
  width: 40px;
  height: 10px;
  border-radius: 999px;
  background: #999999;
}

.resizable-split-view__handler.pos-vertical {
  left: 50%;
  transform: translateX(-50%);
}
.resizable-split-view__handler.pos-horizontal {
  top: 50%;
  transform: translateY(-50%);
}
